* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header {
    height: 100px;
    background-color: #1f2837;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.logotipo {
    color: #f9faf8;
    text-decoration: none;
    font-weight: 700;
}


.nav-links {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    
}

.link a {
    text-decoration: none;
    color: #f9faf8;
    font-size: 18px;
}





.hero {
    height: 400px;
    margin: 0 auto;
    background-color: #1f2837;
    color: #f9faf8;
}


.hero-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding-top: 50px;
}

.box-one, .box-two {
    
    width: 500px;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;   
}

.hero-subtitle {
    font-size: 18px;
    color: #e5e7eb;
}


.button {
    background-color: #3882F6;
    border: none;
    padding: 10px 25px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
}

.box-two {
    max-width: 500px;
    
}

.hero-image {
    width: 500px;
    height: auto;
}



.information {
    
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #1f2837;
    
}
    

 .title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
}

.content {
    display: flex;
    margin: 50px;
    width: 1000px;
    gap: 16px;
    justify-content: space-around;
}

.boxcard {
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.card {
    border-radius: 10px;
    height: auto;
    width: 200px;
    height: 200px;
    border: 2px solid #3882F6;
    
}

.boxcard p {
    font-size: 18px;
    width: 190px;
    margin: 10px;
}
